<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Best Namibian company for Websites, Apps, and Chatbots Development</title>
  <meta content="Best Namibian company for Websites, Apps, and Chatbots Development. Empowering businesses with innovative digital solutions for online success." name="description">
<meta content="Namibian company, SEO Optimization, Best, Top, Websites development, Apps development, Chatbots development, digital solutions, online success, technology, Namibia, Africa website companies, affordable webistes and apps, cheap websites " name="keywords">

  <!-- Favicons -->
  <link href="./img/favicon-32x32.png" rel="icon">
 
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- /vendor/aos/aos.css -->
  <link href="./vendor/aos/aos.css" rel="stylesheet">
  <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>



</head>

<body>
  <!-- <marquee width="100%" direction="right" height="50px" style="background-color: #0c2e8a; color: #ffffff; font-family: Arial, sans-serif; font-size: 20px; padding: 20px;">
    This is a sample scrolling text that scrolls to the right with a professional style.
</marquee> -->

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <!-- <i class="bi bi-envelope d-flex align-items-center" id="email1"><a href="mailto:contact@example.com">gewersdeon61@gmail.com</a></i> -->
        <!-- <i class="bi bi-phone d-flex align-items-center ms-4" id="phone1"><span>+264 81 688 9761</span></i> -->
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> -->
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.linkedin.com/company/qubit-investment-cc/about/?viewAsMember=true" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <!-- <a href="#" class="github"><i class="bi bi-github"></i></a> -->
        
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-start align-items-start">
      <div id="logo" class="logo">
          <a href="/">
              <img src="/img/WebZ (5).png" alt="Logo" class="logo-image">
          </a>
      </div>
  </div>
  
  
    

      <!-- <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#pricing">Prices</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Work</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
       
          <ul>
          <li><a href="#">Drop Down 1</a></li>
          <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="#">Deep Drop Down 1</a></li>
              <li><a href="#">Deep Drop Down 2</a></li>
              <li><a href="#">Deep Drop Down 3</a></li>
              <li><a href="#">Deep Drop Down 4</a></li>
              <li><a href="#">Deep Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#">Drop Down 2</a></li>
          <li><a href="#">Drop Down 3</a></li>
          <li><a href="#">Drop Down 4</a></li>
        </ul>
       </li>
      </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div> -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li class="dropdown"><a href="#"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
          <li><a class="nav-link scrollto" href="#clients">Clients</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        </li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Work</a></li>
     
        <li class="dropdown"><a href="#"><span>Our Prices</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#pricing">Web development</a></li>
            <li><a href="/pricing">Chatbots</a></li>
            <li><a href="/pricing">Hosting</a></li>
            <li><a href="#contact">Apps</a></li>
            <li><a href="#contact">Graphic Design</a></li>
            <!-- <li><a href="#contact">Tutoring</a></li> -->
            <li><a href="#contact">Videography & Photography</a></li>
          </ul>
        </li>
      
      </ul>
      <i class="bi bi-list mobile-nav-toggle" data-aos="fade-up"></i>
    </nav><!-- .navbar -->
  </header><!-- End Header -->



  <main id="main">



    <section id="hero" data-aos="fade-up">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
        <div class="carousel-inner" role="listbox">
  
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(./img/imageg.jpg);">
            <div class="carousel-container" style="margin-bottom: 180px;"  data-aos="fade-up">
              <div class="carousel-content animate__animated animate__fadeInUp">
                <h2><span>Qubit</span></h2>
                <p>Transforming businesses through Web & AI Innovations</p>
                <div class="text-center"><a href="#contact" class="btn-get-started">GET QUOTATION</a></div>
              </div>
            </div>
          </div>
  
          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(./img/1.jpg);" data-aos="fade-up">
            <div class="carousel-container" style="margin-bottom: 170px;" data-aos="fade-up">
              <div class="carousel-content animate__animated animate__fadeInUp">
                <h2>AI Chatbots</h2>
                <p>Qubit is your answer. We build different types of modern chatbots on a very affordable price.</p>
                <div class="text-center"><a href="pricing.html" class="btn-get-started">VIEW PRICING</a></div>
              </div>
            </div>
          </div>
  
          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(./img/5.jpg);">
            <div class="carousel-container" style="margin-bottom: 200px;" data-aos="fade-up">
              <div class="carousel-content animate__animated animate__fadeInUp">
                <h2>Best Hosting in Namibia.</h2>
                <p>Send us a message and we'll send you the quotation in no time.</p>
                <div class="text-center"><a href="#contact" class="btn-get-started">GET QUOTATION</a></div>
              </div>
            </div>
          </div>
  
        </div>
  
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
  
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
  
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      </div>
    </section><!-- End Hero -->

    <section id="about" class="about" style="margin-top: 120px; margin-bottom: 70px;">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About</h2>
          <p>Qubit is a digital AAA company aimed at building websites, apps and chatbots for all types of businesses.</p>
        </div>

        <div class="row content">
         
          <div class="col-lg-6">
            <p>
              The world has changed, but have you changed with the world?
            </p>
            <ul>
              <li><i class="bx bx-check"></i>Transforming businesses through Web & AI Innovations.</li>
              <li><i class="bx bx-check"></i>Save time, save money.</li>
              <li><i class="bx bx-check"></i>Your best friend in the Tech world.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p class="word-by-word">
              The goal of any business is to make profit, but are you comfortable with the profit you make?
            </p>
            
            <p>
              Join us as we advance businesses
             </p>
            <a href="#contact" class="btn-learn-more">Learn More</a>
          </div>
          <!-- <div class="col-lg-6">
            <img src="/img/3.jpg" alt="About Us Image" class="img-fluid">
          </div> -->
        
        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
<section id="services">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Services</h2>
      <p>Discover our comprehensive range of services designed to elevate your online presence and drive digital success.</p>
    </div>

    <div class="row gy-4">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <div class="icon"><i class="bi bi-laptop"></i></div>
          <h4 class="title"><a href="#">Web Development</a></h4>
          <p class="description">Crafting visually appealing, user-friendly websites with the latest design trends and technologies.</p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <div class="icon"><i class="bi bi-server"></i></div>
          <h4 class="title"><a href="#">Website Hosting</a></h4>
          <p class="description">Reliable web hosting solutions for your online presence.</p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-phone"></i></div>
          <h4 class="title"><a href="#">Mobile App Development</a></h4>
          <p class="description">Create engaging iOS and Android apps for a seamless user experience.</p>
        </div>
      </div>

      <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-book"></i></div>
          <h4 class="title"><a href="#">Tutoring</a></h4>
          <p class="description">Boost online visibility and traffic with expert on-page and off-page SEO.</p>
        </div>
      </div> -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-chat"></i></div>
          <h4 class="title"><a href="#">Modern Chatbots</a></h4>
          <p class="description">Explore the world of modern chatbots, revolutionizing communication.</p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-palette"></i></div>
          <h4 class="title"><a href="#">Graphic Design</a></h4>
          <p class="description">Elevate your brand with expert graphic design that makes you stand out.</p>
        </div>
      </div>

      <!-- New Services -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-brush"></i></div>
          <h4 class="title"><a href="#">UI/UX Design</a></h4>
          <p class="description">Create intuitive and visually stunning user interfaces and experiences.</p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-camera-video"></i></div>
          <h4 class="title"><a href="#">Videography</a></h4>
          <p class="description">Capture compelling moments with our professional videography services.</p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <div class="icon"><i class="bi bi-camera"></i></div>
          <h4 class="title"><a href="#">Photography</a></h4>
          <p class="description">Preserve memories and enhance your brand with high-quality photography.</p>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Services Section -->


    


    <!-- We are uploading a website image, client name(h4), category, project link  -->
    <!-- and then we pull out the client name and image for now. If the category is apps, filter only where the category in the database says app and put it under the filter.app class. 
      Else where it says websites, pull out only that category and put it under the .filter-webisites, else under the .filter-photography, else under the .filter-photography. Otherwise, 
    filter out everything and place it under <li data-filter="*" class="filter-active">All</li>-->
    <!-- ======= Portfolio Section ======= -->
<!-- Add this code to your index.ejs file -->
<!-- Add this code to your index.ejs file -->
<section id="portfolio" class="portfolio" style="margin-top: 70px; margin-bottom: 70px;">
  <div class="container" data-aos="fade-up">
      <div class="section-header">
          <h2>Work</h2>
          <p>Experience our impressive portfolio of web development projects that highlight our expertise and creativity in delivering exceptional digital solutions.</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-graphics">Graphic Design</li>
                  <li data-filter=".filter-websites">Websites</li>
              </ul>
          </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <% if (galleryItems.length > 0) { %>
              <% galleryItems.slice().reverse().forEach(item => { %>
                  <div class="col-lg-4 col-md-6 portfolio-item filter-<%= item.category %>">
                      <% if (item.category === 'graphics') { %>
                          <!-- Show a different image for the 'Graphics' category -->
                          <div class="portfolio-image">
                              <img src="/uploads/<%= item.image %>" class="img-fluid" alt="<%= item.title %>">
                              <div class="portfolio-links">
                                  <a href="/uploads/<%= item.image %>" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                              </div>
                          </div>
                      <% } else if (item.screenshotPath) { %>
                          <!-- Show the screenshot for categories other than 'Graphics' -->
                          <div class="portfolio-image">
                              <img src="<%= item.screenshotPath %>" class="img-fluid" alt="<%= item.title %>">
                              <div class="portfolio-info">
                                  <h4><%= item.title %></h4>
                                  <a href="<%= item.link %>" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                              </div>
                              <div class="zoom-icon" style="display: none;">
                                  <i class="bx bx-zoom-in"></i>
                              </div>
                          </div>
                      <% } else { %>
                          <p>No screenshot available</p>
                      <% } %>
                  </div>
              <% }) %>
          <% } else { %>
              <div class="col-lg-12">
                  <p style="text-align: center; font-size: 18px; color: #333;">Portolio coming soon.</p>
              </div>
          <% } %>
      </div>
  </div>
</section>


    
    <!-- <div class="section-header">
      <h2>Pricing</h2>
      <p>Experience our impressive portfolio of web development projects that highlight our expertise and creativity in delivering exceptional digital solutions.</p>
    </div> -->
    <section class="pricing" id="pricing" style="margin-top: 100px">
      <div class="container">
        <div class="section-header">
          <h2>WEBSITES PRICING</h2>
          <p>Discover our affordable website prices.</p>
        </div>
        <div class="pricing-packages">
          <div class="package">
            <h3>Silver Package</h3>
            <div class="price-container">
              <p class="price-label">Price:</p>
              <span class="price-amount">N$6,000</span>
            </div>
            
            <ul>
              <li>Responsive Design</li>
              <li>On-Page SEO</li>
              <li>Online Contact Form</li>
              <li>Image Gallery</li>
              <li>Social Media Icons</li>
              <li>1 Week free maintanence</li>
            </ul>
            <a href="#" class="cta-button">Get Started</a>
          </div>
          <div class="package">
            <h3>Bronze Package</h3>
            <div class="price-container">
              <p class="price-label">Price:</p>
              <span class="price-amount">N$8,900</span>
            </div>
            <ul>
              <li>All Silver Package Features</li>
              <li>Social Media Integration</li>
              <li>On-Page SEO</li>
              <li>Social Media Integration</li>
              <li>2 Weeks free maintanence</li>
            </ul>
            <a href="#" class="cta-button">Get Started</a>
          </div>
          <div class="package">
            <h3>Gold Package</h3>
            <div class="price-container">
              <p class="price-label">Price:</p>
              <span class="price-amount">N$11,200</span>
            </div>
            <ul>
              <li>All Bronze Package Features</li>
              <li>Content Management System (CMS)</li>
              <li>Post Launch SEO</li>
              <li>MONGODB Database</li>
              <li>3 Weeks Free maintanence</li>
            </ul>
            <a href="#" class="cta-button">Get Started</a>
          </div>
          <div class="package">
            <h3>Platinum Package</h3>
            <div class="price-container">
              <p class="price-label">Price:</p>
              <span class="price-amount">N$17,500</span>
            </div>
            <ul>
              <li>All Gold Package Features</li>
              <li>Online Store</li>
              <li>Credit Card Payment</li>
              <li>MONGODB Database</li>
              <li>4 Weeks free maintanence</li>
            </ul>
            <a href="#" class="cta-button">Get Started</a>
          </div>
        </div>
      </div>
    </section>
  
    
    
    <!-- End Pricing Section -->



    <!-- ======= Testimonials Section ======= -->

 
    <!-- End Testimonials Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Transforming Businesses Through Tech Innovation</h3>
            <p class="cta-text">Discover how our web development and AI services can propel your business to new heights.
               We combine cutting-edge technologies, captivating design, and strategic thinking to create impactful digital solutions tailored to your unique needs.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">GET QUOTATION</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->


   <!-- views/clients.ejs -->

  
   
 
<!-- Clients Section -->
<section id="clients">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Clients</h2>
      <p>Trusted by a diverse clientele, we deliver exceptional web development solutions for businesses of all sizes and industries.</p>
    </div>

    <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper align-items-center">
        <% if (clients.length > 0) { %>
          <!-- Clients found -->
          <% clients.forEach(client => { %>
            <div class="swiper-slide">
              <img src="/uploads/<%= client.logoPath %>" class="img-fluid" alt="<%= client.name %>">
            </div>
          <% }) %>
        <% } else { %>
          <!-- No clients found -->
          <div class="swiper-slide">
            <p>No clients available at the moment.</p>
          </div>
        <% } %>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>


<!-- views/testimonials.ejs -->

<section id="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Testimonials</h2>
      <p>Read what our clients have to say about their experience with our exceptional web development solutions.</p>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <% if (testimonials.length > 0) { %>
          <!-- Testimonials found -->
          <% testimonials.forEach(testimonial => { %>
            <div class="swiper-slide">
              <div class="testimonial-card">
                <div class="quote-box">
                  <p class="quote">"<%= testimonial.quote %>"</p>
                </div>
                <div class="author-info">
                  <p class="author"><%= testimonial.author %></p>
                  <p class="company"><%= testimonial.company %></p>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <!-- No testimonials found -->
          <div class="swiper-slide">
            <p class="no-testimonials">No testimonials available at the moment.</p>
          </div>
        <% } %>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>


    <!-- Add this section to your HTML file -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Our Team</h2>
      <p>Meet the talented individuals behind our success.</p>
    </div>

    <div class="row">

      <!-- Team Member 1 -->
      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <img src="/img/Naftal.png" class="img-fluid" alt="Team Member 1">
          <div class="member-info">
            <h4>Deon</h4>
            <span>CEO & Founder</span>
          
            <div class="social">
              <a href="#"><i class="bx bx-user"></i></a>
              
             
              <a href="https://www.linkedin.com/in/deon-gewers-60b54a24b/"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Member 2 -->
      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <img src="/img/Naftal.png" class="img-fluid" alt="Team Member 2">
          <div class="member-info">
            <h4>Naftal</h4>
            <span>UI/UX Designer</span>
            
            <div class="social">
              <a href="#"><i class="bx bx-user"></i></a>
              <!-- <a href="https://www.instagram.com/psg_graphics/"><i class="bx bxl-instagram"></i></a> -->
              <a href="https://www.linkedin.com/in/naftal-enkali-7375b4206/"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
<!-- Team Member 2 -->

      <!-- Team Member 3 -->
      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <img src="/img/Mike.png" class="img-fluid" alt="Team Member 4">
          <div class="member-info">
            <h4>Mike</h4>
            <span>Multimedia Design</span>
            
            <div class="social">
              <!-- <a href="#"><i class="bx bx-user"></i></a> -->
              <a href="#"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

    
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Have a project in mind or any questions? We would love to hear from you. Get in touch with our team and let's discuss how we can help you achieve your goals</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>Windhoek, Khomasdal</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+264 81 688 9761">+264 81 688 9761</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">gewersdeon61@gmail.com</a></p>
            </div>
          </div>

        </div>
      </div>


      <div class="container">
        <div class="form">
          <form action="https://formspree.io/f/xjvqzgzp" method="POST">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="subject" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" id="message" rows="5" placeholder="How may we be of service?" required></textarea>
            </div>

            <!-- <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message" data-aos="fade-up"></div>
              <div class="sent-message">Thank you for contacting Gewers web solutions!</div>
            </div> -->

            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


    
    <!-- ======= Footer ======= -->
    <footer id="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3 style="margin-left: -60px;"><img src="./img/WebZ (5).png" alt="Logo" class="logo-image"></h3>
              <p>
                Windhoek, Khomasdal <br>
                PRIVATE BAG 13227<br>
                Namibia <br><br>
                <strong>Phone:</strong> +264 81 6988 9761<br>
                <strong>Email:</strong> info@qubitinvestment.tech<br>
              </p>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
             
                <li><i class="bx bx-chevron-right"></i> <a href="/pricing">Pricing</a></li>
                <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Apps Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Modern Chatbots</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Graphic Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">UI/UX Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#services">Videography & Photography</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-6" style="background-color: #f8f9fa; padding: 20px; border-radius: 5px;">
              <h4 style="color: #081e5b;">Additional Information</h4>
              <p style="font-size: 16px; color: #343a40;">Explore our blog for industry insights and updates. Connect with us on social media for the latest news and trends.</p>
              <ul style="list-style-type: none; padding: 0;">
                <li><i class="bx bx-chevron-right" style="color: #081e5b;"></i> <a href="https://www.linkedin.com/company/qubit-investment-cc/?viewAsMember=true" style="color: #081e5b; text-decoration: none;">Connect on LinkedIn</a></li>
                <li style="margin-bottom: 10px;"><i class="bx bx-chevron-right" style="color: #081e5b;"></i> <a href="#" style="color: #081e5b; text-decoration: none;">Follow us on Facebook</a></li>
                <li style="margin-bottom: 10px;"><i class="bx bx-chevron-right" style="color: #081e5b;"></i> <a href="#" style="color: #081e5b; text-decoration: none;">Follow us on Instagram</a></li>
                
              </ul>
            </div>
            
  
      
  
          </div>
        </div>
      </div>
  
      <div class="container d-md-flex py-4">
  
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Qubit</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
         
            Designed by <a href="https://www.linkedin.com/company/qubit-investment-cc/about/?viewAsMember=true">Qubit</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
          <a href="https://www.linkedin.com/company/qubit-investment-cc/about/?viewAsMember=true" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
       
        </div>
      </div>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Newsletter Popup -->
  <div class="newsletter-popup">
    <div class="popup-content">
      <div class="popup-header">
        <h2>Join Our Newsletter</h2>
        <span class="close-btn">&times;</span>
      </div>
      <p>Subscribe to our newsletter for updates and special offers.</p>
      <form id="newsletter-form">
        <input type="email" placeholder="Enter your email" required>
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  
  <!-- End Newsletter Popup -->
  <!-- Vendor JS Files -->
  <!-- /public/vendor/aos/aos.js -->
  <script src="./vendor/aos/aos.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./vendor/php-email-form/validate.js"></script>
  

  

  <!-- Template Main JS File -->
  <script src="./js/main.js"></script>

  <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
  <script src="https://mediafiles.botpress.cloud/ac9da623-909a-49bf-be5b-eac67728b2b6/webchat/config.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  


  
<script>
  // Wait for the document to be fully loaded
  $(document).ready(function() {
    // Function to highlight the word "profit"
    function highlightWord(element) {
      var words = element.html().split(' ');
      for (var i = 0; i < words.length; i++) {
        if (words[i].toLowerCase() === 'profit,') {
          words[i] = '<span class="highlight">' + words[i] + '</span>';
        }
      }
      element.html(words.join(' '));
    }

    // Call the function when the section is in the viewport
    $(window).on('scroll', function() {
      var aboutSection = $('#about');
      var windowBottom = $(window).scrollTop() + $(window).height();
      var sectionBottom = aboutSection.offset().top + aboutSection.height();

      if (windowBottom >= sectionBottom) {
        highlightWord($('.word-by-word'));
      }
    });
  });
</script>
<!-- <script>
 document.addEventListener("DOMContentLoaded", function () {
 
  function isInViewport(element) {
    var rect = element.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight)
    );
  }

  var newsletterPopup = document.querySelector(".newsletter-popup"); -->

  
  <!-- window.addEventListener("scroll", function () {
    var aboutSection = document.getElementById("about");

    if (isInViewport(aboutSection)) {
      setTimeout(function () {
        newsletterPopup.style.display = "flex";
        newsletterPopup.style.opacity = 1; // Set opacity to 1 for smooth fade-in
      }, 10000); // Popup appears after 30 seconds (30000 milliseconds)
    } else {
      newsletterPopup.style.opacity = 0; // Set opacity to 0 for smooth fade-out
      setTimeout(function () {
        newsletterPopup.style.display = "none";
      }, 300); // Hide popup after 0.3 seconds (300 milliseconds) for smooth transition
    }
  }); -->


  <!-- var closeButton = document.querySelector(".close-btn");
  closeButton.addEventListener("click", function () {
    newsletterPopup.style.opacity = 0; // Set opacity to 0 for smooth fade-out
    setTimeout(function () {
      newsletterPopup.style.display = "none";
    }, 300); // Hide popup after 0.3 seconds (300 milliseconds) for smooth transition
  });
}); -->


<!-- </script> -->
  <script>
$(document).ready(function(){
    var slider = $('.pricing-packages-carousel');

    slider.on('init', function(event, slick){
        $('.slick-slide').removeClass('slick-current'); // Ensure no slide is marked as current initially
    });

    slider.slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 1000,
        prevArrow: '<button class="slick-prev" aria-label="Previous" type="button">Previous</button>',
        nextArrow: '<button class="slick-next" aria-label="Next" type="button">Next</button>',
        initialSlide: 0, // Ensure it starts from the first slide
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });

    slider.on('beforeChange', function(event, slick, currentSlide, nextSlide){
        if (nextSlide < currentSlide) {
            // Moving backward, reached last slide, go to the first slide
            slider.slick('slickGoTo', 0);
         
        }
    });
});



  </script>
    <script>
      function showZoomIcon(element) {
        var zoomIcon = element.querySelector('.zoom-icon');
        if (zoomIcon) {
          zoomIcon.style.display = 'block';
        }
      }
  
      function hideZoomIcon(element) {
        var zoomIcon = element.querySelector('.zoom-icon');
        if (zoomIcon) {
          zoomIcon.style.display = 'none';
        }
      }
  
      // Initialize the zoom functionality (example: fancybox)
      $(document).ready(function () {
        $(".portfolio-image").fancybox({
          // Add your fancybox options here
        });
      });
    </script>
 <script>
  document.addEventListener('DOMContentLoaded', function () {
    const pdfContainers = document.querySelectorAll('.pdf-container');

    pdfContainers.forEach(pdfContainer => {
      pdfContainer.addEventListener('click', function () {
        // Toggle the visibility of the clicked PDF container
        this.style.display = this.style.display === 'none' ? 'block' : 'none';
      });
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const pdfContainers = document.querySelectorAll('.pdf-container');
    const closeButtons = document.querySelectorAll('.close-btn');

    pdfContainers.forEach((pdfContainer, index) => {
      pdfContainer.addEventListener('click', function (event) {
        // Prevent clicking on the PDF from closing it
        event.stopPropagation();
      });
    });

    closeButtons.forEach((closeBtn, index) => {
      closeBtn.addEventListener('click', function (event) {
        // Close the corresponding PDF container when the close button is clicked
        pdfContainers[index].style.display = 'none';
      });
    });

    document.addEventListener('click', function () {
      // Close all PDF containers when clicking outside of them
      pdfContainers.forEach(pdfContainer => {
        pdfContainer.style.display = 'none';
      });
    });
  });
</script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize Swiper
    var mySwiper = new Swiper('.clients-slider', {
      slidesPerView: 'auto', // Set to 'auto' for responsive one image per slide
      spaceBetween: 15,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 3000, // milliseconds
        disableOnInteraction: false,
      },
      breakpoints: {
        768: {
          slidesPerView: 2, // Show two slides per view on screens larger than or equal to 768px
        },
        992: {
          slidesPerView: 3, // Show three slides per view on screens larger than or equal to 992px
        },
        1200: {
          slidesPerView: 4, // Show four slides per view on screens larger than or equal to 1200px
        },
        // Add more breakpoints if needed
      },
    });
  });
</script>

</body>

</html>